[submodule "Twitter_towers"]
	path = Twitter_towers
	url = https://github.com/RikiGerlitz/Twitter_towers.git
[submodule "Corona_management_system"]
	path = Corona_management_system
	url = https://github.com/RikiGerlitz/Corona_management_system.git
